    <h1 class="titulo">PROEFICIENCIAS</h1>

    <div class="personagem-proeficiencias">
        <h2 class="subtitulo">Força</h2>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="forca" data-order="primeiro" {{#if actor.system.proeficiencias.forca.primeiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.forca.primeiro.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="forca" data-order="segundo" {{#if actor.system.proeficiencias.forca.segundo.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.forca.segundo.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="forca" data-order="terceiro" {{#if actor.system.proeficiencias.forca.terceiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.forca.terceiro.descricao}}</label>
        </div>
        <h2 class="subtitulo">Constituição</h2>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="constituicao" data-order="primeiro" {{#if actor.system.proeficiencias.constituicao.primeiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.constituicao.primeiro.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="constituicao" data-order="segundo" {{#if actor.system.proeficiencias.constituicao.segundo.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.constituicao.segundo.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="constituicao" data-order="terceiro" {{#if actor.system.proeficiencias.constituicao.terceiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.constituicao.terceiro.descricao}}</label>
        </div>
        <h2 class="subtitulo">Destreza</h2>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="destreza" data-order="primeiro" {{#if actor.system.proeficiencias.destreza.primeiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.destreza.primeiro.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="destreza" data-order="segundo" {{#if actor.system.proeficiencias.destreza.segundo.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.destreza.segundo.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="destreza" data-order="terceiro" {{#if actor.system.proeficiencias.destreza.terceiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.destreza.terceiro.descricao}}</label>
        </div>
        <h2 class="subtitulo">Mobilidade</h2>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="mobilidade" data-order="primeiro" {{#if actor.system.proeficiencias.mobilidade.primeiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.mobilidade.primeiro.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="mobilidade" data-order="segundo" {{#if actor.system.proeficiencias.mobilidade.segundo.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.mobilidade.segundo.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="mobilidade" data-order="terceiro" {{#if actor.system.proeficiencias.mobilidade.terceiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.mobilidade.terceiro.descricao}}</label>
        </div>
        <h2 class="subtitulo">Mente</h2>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="mente" data-order="primeiro" {{#if actor.system.proeficiencias.mente.primeiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.mente.primeiro.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="mente" data-order="segundo" {{#if actor.system.proeficiencias.mente.segundo.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.mente.segundo.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="mente" data-order="terceiro" {{#if actor.system.proeficiencias.mente.terceiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.mente.terceiro.descricao}}</label>
        </div>
        <h2 class="subtitulo">Moral</h2>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="moral" data-order="primeiro" {{#if actor.system.proeficiencias.moral.primeiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.moral.primeiro.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="moral" data-order="segundo" {{#if actor.system.proeficiencias.moral.segundo.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.moral.segundo.descricao}}</label>
        </div>
        <div class="campo-proeficiencias">
            <input class="proficiencia-checkbox" type="checkbox" data-attribute="moral" data-order="terceiro" {{#if actor.system.proeficiencias.moral.terceiro.ativo}}checked{{/if}}>
            <label>{{actor.system.proeficiencias.moral.terceiro.descricao}}</label>
        </div>

</div>