<h1 class="titulo">ALTERAR ESTILO</h1>
<div class="alterar-estilo">
    <div class="estilo-personalizado">
        <h2 class="subtitulo">ESTILO PERSONALIZADO</h2>
        <div class="campo-personalizado">
            <label>Cor da barra de navegação: </label>
            <input type="color" id="cor-nav" value="{{corNav}}"/>
        </div>
        <div class="campo-personalizado">
            <label>Cor dos botões: </label>
            <input type="color" id="cor-btn" value="{{corBtn}}"/>
        </div>
        <div class="campo-personalizado">
            <label>Cor dos botões em foco: </label>
            <input type="color" id="cor-btn-hover" value="{{corBtnHover}}"/>
        </div>
        <div class="campo-personalizado">
            <label>Cor de fundo: </label>
            <input type="color" id="cor-fundo" value="{{corFundo}}"/>
        </div>
        <div class="campo-personalizado">
            <label>Cor dos textos: </label>
            <input type="color" id="cor-texto" value="{{corTexto}}"/>
        </div>
        <div class="campo-personalizado">
            <label>Cor de fundo dos inputs: </label>
            <input type="color" id="cor-fundo-input" value="{{corFundoInput}}"/>
        </div>
        <div class="campo-personalizado">
            <label>Cor dos textos dos inputs: </label>
            <input type="color" id="cor-texto-input" value="{{corTextoInput}}"/>
        </div>
        <div class="botao-personalizado"> 
            <button type="button" id="btn-resetar-estilo" class="btn-zerar">Resetar estilo</button>
        </div>
    </div>
    <div class="estilos-predefinidos" data-cor-nav="#842121" data-cor-fundo="#8B4513" data-cor-texto="#ffffff" data-cor-btn="#cccccc" data-cor-btn-hover="#aaaaaa" data-cor-fundo-input="#ffffff" data-cor-texto-input="#000000">
        <h2 class="subtitulo">ESTILO 1</h2>
        <div class="campo-personalizado">
            <input type="color" value="#842121" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#cccccc" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#aaaaaa" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#8B4513" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffffff" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffffff" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="botao-personalizado"> 
            <button type="button" id="btn-selecionar-estilo1" class="btn-selecionar">Selecionar</button>
        </div>
    </div>
    <div class="estilos-predefinidos" data-cor-nav="#000000" data-cor-fundo="#333333" data-cor-texto="#ffffff" data-cor-btn="#666666" data-cor-btn-hover="#999999" data-cor-fundo-input="#555555" data-cor-texto-input="#ffffff">
        <h2 class="subtitulo">ESTILO 2</h2>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#666666" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#999999" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#333333" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffffff" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#555555" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffffff" disabled/>
        </div>
        <div class="botao-personalizado"> 
            <button type="button" id="btn-selecionar-estilo2" class="btn-selecionar">Selecionar</button>
        </div>
    </div>
    <div class="estilos-predefinidos" data-cor-nav="#0000ff" data-cor-fundo="#add8e6" data-cor-texto="#000000" data-cor-btn="#87ceeb" data-cor-btn-hover="#4682b4" data-cor-fundo-input="#ffffff" data-cor-texto-input="#000000">
        <h2 class="subtitulo">ESTILO 3</h2>
        <div class="campo-personalizado">
            <input type="color" value="#0000ff" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#87ceeb" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#4682b4" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#add8e6" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffffff" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="botao-personalizado"> 
            <button type="button" id="btn-selecionar-estilo3" class="btn-selecionar">Selecionar</button>
        </div>
    </div>
    <div class="estilos-predefinidos" data-cor-nav="#008000" data-cor-fundo="#90ee90" data-cor-texto="#000000" data-cor-btn="#32cd32" data-cor-btn-hover="#006400" data-cor-fundo-input="#ffffff" data-cor-texto-input="#000000">
        <h2 class="subtitulo">ESTILO 4</h2>
        <div class="campo-personalizado">
            <input type="color" value="#008000" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#32cd32" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#006400" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#90ee90" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffffff" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="botao-personalizado"> 
            <button type="button" id="btn-selecionar-estilo4" class="btn-selecionar">Selecionar</button>
        </div>
    </div>
    <div class="estilos-predefinidos" data-cor-nav="#800080" data-cor-fundo="#dda0dd" data-cor-texto="#000000" data-cor-btn="#ba55d3" data-cor-btn-hover="#4b0082" data-cor-fundo-input="#ffffff" data-cor-texto-input="#000000">
        <h2 class="subtitulo">ESTILO 5</h2>
        <div class="campo-personalizado">
            <input type="color" value="#800080" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ba55d3" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#4b0082" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#dda0dd" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffffff" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="botao-personalizado"> 
            <button type="button" id="btn-selecionar-estilo5" class="btn-selecionar">Selecionar</button>
        </div>
    </div>
    <div class="estilos-predefinidos" data-cor-nav="#ffa500" data-cor-fundo="#ffe4b5" data-cor-texto="#000000" data-cor-btn="#ffd700" data-cor-btn-hover="#ff8c00" data-cor-fundo-input="#ffffff" data-cor-texto-input="#000000">
        <h2 class="subtitulo">ESTILO 6</h2>
        <div class="campo-personalizado">
            <input type="color" value="#ffa500" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffd700" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ff8c00" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffe4b5" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#ffffff" disabled/>
        </div>
        <div class="campo-personalizado">
            <input type="color" value="#000000" disabled/>
        </div>
        <div class="botao-personalizado"> 
            <button type="button" id="btn-selecionar-estilo6" class="btn-selecionar">Selecionar</button>
        </div>
    </div>
</div>
<div class="alteracoes-dados">
    <h1 class="titulo">ALTERAR DADOS</h1>
    <h2 class="subtitulo">STATUS</h2>
    <div class="campo-alteracao">
        <label class="label-alteracao">Vida Máx.:</label>
        <input id="alt-vida-max" class="input-alt-max" value="{{actor.system.status.vida.max}} / {{actor.system.status.vida.value}}"/>
        <label class="label-positivo">+ ({{actor.system.status.vida.positivo}})</label>
        <input id="alt-vida-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-vida-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.status.vida.negativo}})</label>
        <input id="alt-vida-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-vida-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    <div class="campo-alteracao">
        <label class="label-alteracao">Estamina Máx.:</label>
        <input id="alt-estamina-max" class="input-alt-max" value="{{actor.system.status.estamina.max}} / {{actor.system.status.estamina.value}}"/>
        <label class="label-positivo">+ ({{actor.system.status.estamina.positivo}})</label>
        <input id="alt-estamina-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-estamina-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.status.estamina.negativo}})</label>
        <input id="alt-estamina-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-estamina-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    

    <div class="campo-alteracao">
        <label class="label-alteracao">Psique Máx.:</label>
        <input id="alt-psique-max" class="input-alt-max" value="{{actor.system.status.psique.max}} / {{actor.system.status.psique.value}}"/>
        <label class="label-positivo">+ ({{actor.system.status.psique.positivo}})</label>
        <input id="alt-psique-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-psique-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.status.psique.negativo}})</label>
        <input id="alt-psique-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-psique-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>

    <div class="campo-alteracao">
        <label class="label-alteracao">Resistência Passiva:</label>
        <input id="alt-resist-pas" class="input-alt-max" value="{{altResistPas}}"/>
        <label class="label-positivo">+ ({{altResistPasPositivo}})</label>
        <input id="alt-resist-pas-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-resist-pas-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{altResistPasNegativo}})</label>
        <input id="alt-resist-pas-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-resist-pas-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    <div class="campo-alteracao">
        <label class="label-alteracao">Percepção Passiva:</label>
        <input id="alt-percep-pas" class="input-alt-max" value="{{altPercepPas}}"/>
        <label class="label-positivo">+ ({{altPercepPasPositivo}})</label>
        <input id="alt-percep-pas-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-percep-pas-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{altPercepPasNegativo}})</label>
        <input id="alt-percep-pas-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-percep-pas-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    <div class="campo-alteracao">
        <label class="label-alteracao">Esquiva Passiva:</label>
        <input id="alt-esquiva-pas" class="input-alt-max" value="{{altEsquivaPas}}"/>
        <label class="label-positivo">+ ({{altEsquivaPasPositivo}})</label>
        <input id="alt-esquiva-pas-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-esquiva-pas-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{altEsquivaPasNegativo}})</label>
        <input id="alt-esquiva-pas-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-esquiva-pas-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    
    <div class="">
        <h2 class="subtitulo">MESTIÇA</h2>
    </div>

    <div class="campo-alteracao">
        <label class="label-alteracao">Energia Máx.:</label>
        <input id="alt-energia-max" class="input-alt-max" value="{{actor.system.mestica.energia.max}} / {{actor.system.mestica.energia.value}}"/>
        <label class="label-positivo">+ ({{actor.system.mestica.energia.positivo}})</label>
        <input id="alt-energia-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-energia-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.mestica.energia.negativo}})</label>
        <input id="alt-energia-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-energia-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    <div class="campo-alteracao">
        <label class="label-alteracao">Canalização Máx.:</label>
        <input id="alt-canalizacao-max" class="input-alt-max" value="{{actor.system.mestica.canalizacao.max}} / {{actor.system.mestica.canalizacao.value}}"/>
        <label class="label-positivo">+ ({{actor.system.mestica.canalizacao.positivo}})</label>
        <input id="alt-canalizacao-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-canalizacao-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.mestica.canalizacao.negativo}})</label>
        <input id="alt-canalizacao-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-canalizacao-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>

    <h2 class="subtitulo">ATRIBUTOS</h2>
    <div class="campo-alteracao">
        <label class="label-alteracao">Força (dados):</label>
        <input id="alt-forca-dados" class="input-alt-max" value="{{actor.system.atributos.forca.dados}}" placeholder="dados"/>
        <label class="label-positivo">+ ({{actor.system.atributos.forca.positivo}})</label>
        <input id="alt-forca-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-forca-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.atributos.forca.negativo}})</label>
        <input id="alt-forca-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-forca-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    <div class="campo-alteracao">
        <label class="label-alteracao">Constituição (dados):</label>
        <input id="alt-constituicao-dados" class="input-alt-max" value="{{actor.system.atributos.constituicao.dados}}" placeholder="dados"/>
        <label class="label-positivo">+ ({{actor.system.atributos.constituicao.positivo}})</label>
        <input id="alt-constituicao-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-constituicao-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.atributos.constituicao.negativo}})</label>
        <input id="alt-constituicao-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-constituicao-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    <div class="campo-alteracao">
        <label class="label-alteracao">Destreza (dados):</label>
        <input id="alt-destreza-dados" class="input-alt-max" value="{{actor.system.atributos.destreza.dados}}" placeholder="dados"/>
        <label class="label-positivo">+ ({{actor.system.atributos.destreza.positivo}})</label>
        <input id="alt-destreza-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-destreza-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.atributos.destreza.negativo}})</label>
        <input id="alt-destreza-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-destreza-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    <div class="campo-alteracao">
        <label class="label-alteracao">Mobilidade (dados):</label>
        <input id="alt-mobilidade-dados" class="input-alt-max" value="{{actor.system.atributos.mobilidade.dados}}" placeholder="dados"/>
        <label class="label-positivo">+ ({{actor.system.atributos.mobilidade.positivo}})</label>
        <input id="alt-mobilidade-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-mobilidade-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.atributos.mobilidade.negativo}})</label>
        <input id="alt-mobilidade-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-mobilidade-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    <div class="campo-alteracao">
        <label class="label-alteracao">Mente (dados):</label>
        <input id="alt-mente-dados" class="input-alt-max" value="{{actor.system.atributos.mente.dados}}" placeholder="dados"/>
        <label class="label-positivo">+ ({{actor.system.atributos.mente.positivo}})</label>
        <input id="alt-mente-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-mente-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.atributos.mente.negativo}})</label>
        <input id="alt-mente-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-mente-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>
    <div class="campo-alteracao">
        <label class="label-alteracao">Moral (dados):</label>
        <input id="alt-moral-dados" class="input-alt-max" value="{{actor.system.atributos.moral.dados}}" placeholder="dados"/>
        <label class="label-positivo">+ ({{actor.system.atributos.moral.positivo}})</label>
        <input id="alt-moral-positivo" class="input-alt-positivo" value="0" placeholder="soma"/>
        <button type="button" id="btn-moral-positivo-zerar" class="btn-zerar">Zerar</button>
        <label class="label-negativo">− ({{actor.system.atributos.moral.negativo}})</label>
        <input id="alt-moral-negativo" class="input-alt-negativo" value="0" placeholder="subtrai"/>
        <button type="button" id="btn-moral-negativo-zerar" class="btn-zerar">Zerar</button>
    </div>

    <div class="" style="display: none;">
        <h2 class="subtitulo" style="display: none;">COMBATE</h2>
    </div>

    <div class="campo-alteracao">
        <label class="label-alteracao" style="display: none;">Dano Total:</label>
        <input id="alt-dano-total" class="" value="{{actor.system.combate.dano.total}}" disabled style="display: none;"/>
    </div>
</div>